<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<!-- 	<bean id="testService" class="com.willy.test.TestService"> -->
<!-- 		<property name="name" value="Willy"></property> -->
<!-- 	</bean> -->
	<!-- DataBase Connection Config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<!-- 指定連線資料庫的JDBC驅動 -->
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<!-- 指定資料庫所用的url -->
		<property name="url"
			value="jdbc:sqlserver://127.0.0.1:1803;databaseName=TestDB;"></property>
		<!-- 指定連線資料庫的使用者名稱 -->
		<property name="username" value="GMS"></property>
		<!-- 指定連線資料庫的密碼 -->
		<property name="password" value="GMS"></property>
		<!-- 初始連線數 -->
		<property name="initialSize" value="3"></property>
		<!-- 最大連線數 -->
		<property name="maxActive" value="500"></property>
		<property name="maxIdle" value="2"></property>
		<property name="minIdle" value="1"></property>
	</bean>
	<!-- Hibernate Config -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 將上面定義的資料源dataSource植入到LocalSessionFactoryBean類別的sessionFactory屬性 -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 設定Hibernate的關聯屬性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 設定Hibernate的資料庫方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2dll.auto">false</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/willy/test/Users.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="usersImp" class="com.willy.test.Imp.UsersImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 交易管理器 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"><!--設定HibernateTransactionManager.class的sessionFactory參數-->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 啟用事務管理器 -->
	<tx:annotation-driven transaction-manager="txManager" />
	
	
	<bean id="Car"
		class="com.test.willy.Car">
		
		</bean>
		<bean id="calledClass" class="com.test.willy.calledClass">
		<property name="car" ref="Car"></property>
	</bean>
</beans>	